$color-1: #FFFFFF;
$color-2: #556970;
$color-3: #556970;
$color-4: #ABA944;

body {
    background: $color-1;
}
a:hover {
    text-decoration: none;
}

.navbar {
    background: $color-1;
    box-shadow: 0 4px 2px -2px gray;
}
a.nav-link {
    color: $color-2;
}

.form-control {
    border-radius: 0px;
}
.form-control:focus, .form-control:hover {
    box-shadow: none;
    outline: none;
}

// Video Player
#my_video {
    width: 100%;
}
#video_player_box {
    width: 100%;
    background: $color-1;
    margin-bottom: 70px;
    box-shadow: 5px 5px 5px #000;
  }
  
  #video_controls_bar {
    background: $color-2; 
    padding:10px; 
    color: $color-4;
    margin-top: -5px;
    width: 100%;
  }
  
  button#playpausebtn {
    background: none;
    border: none;
    color: $color-4;
    font-size: 22px;
    float: left;
    margin-top: -7px;
    margin-right: 10px;
  }
  button#mutebtn {
    background: none; 
    border: none;
    color: $color-4;
    font-size: 22px;
    float: left;
    margin-top: -7px;
    margin-right: 10px;
  }
  input#seekslider{ width: 50%; float: left; margin-top: 7px;}
  input#volumeslider{ width: 80px; float: left; margin-top: 7px;}
  input[type='range'] {
      -webkit-appearance: none !important;
      background: $color-4;
      border: none;
      height:4px;
      float: left;
  }
  input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      background: #FFF;
      height:15px;
      width:15px;
      border-radius:100%;
      cursor:pointer;
      float: left;
  }

#messages {
    width: 100%;
    min-height: 700px;
    border: 1px #AAA solid;
    padding: 10px;
    overflow-y: scroll;
}