<%- include('./inc/header.ejs') %>
<div class="row">
    <div class="col-lg-6">
        <div class="card mt-4 border-0" style="background: #1d1d1d;">
            <div class="card-body">
                <h5 class="card-title text-light">Log In</h5>
                <hr />
                <form method="POST" action="/users/login">
                    <div class="row mb-2">
                        <div class="col">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <button type="submit" class="btn btn-block btn-primary">Log In</button>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <a class="btn btn-block btn-success" href="/users/signup">Create Account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6"></div>
</div>
<%- include('./inc/footer.ejs') %>